dashboard.json
[
    {
        "id": "a1e29da3.5e856",
        "type": "tab",
        "label": "BlueDonkey Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c6c1e3de.19c52",
        "type": "ui_template",
        "z": "a1e29da3.5e856",
        "group": "dca8a51e.80c9e8",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<img src=\"https://hackster.imgix.net/uploads/attachments/464262/beagleboneblue_blink_LED.png?auto=compress%2Cformat&amp;w=1280&amp;h=960&amp;fit=max\" />\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 360,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "bbf157e5.7ca138",
        "type": "inject",
        "z": "a1e29da3.5e856",
        "name": "startup",
        "topic": "startup",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "c6c1e3de.19c52",
                "180010c6.9dd4af"
            ]
        ]
    },
    {
        "id": "ec92c923.57f488",
        "type": "ui_template",
        "z": "a1e29da3.5e856",
        "group": "a30aeb1b.ead7c8",
        "name": "camera",
        "order": 0,
        "width": "8",
        "height": "8",
        "format": "<img ng-src=\"{{msg.payload}}\" width=\"320\" height=\"240\" alt=\"image\" />\n<!--\n<img src=\"http://192.168.7.2:8090/?action=stream\" width=\"320\" height=\"240\" alt=\"image\" />\n-->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 880,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "83af35aa.155288",
        "type": "function",
        "z": "a1e29da3.5e856",
        "name": "inject url",
        "func": "msg.payload = \"http://\" + msg.payload[0].address + \":8090/?action=stream\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 140,
        "wires": [
            [
                "ec92c923.57f488",
                "4bc3fb.dae97c04"
            ]
        ]
    },
    {
        "id": "4bc3fb.dae97c04",
        "type": "debug",
        "z": "a1e29da3.5e856",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 100,
        "wires": []
    },
    {
        "id": "6a2eaae5.60bd44",
        "type": "debug",
        "z": "a1e29da3.5e856",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 630,
        "y": 60,
        "wires": []
    },
    {
        "id": "107ec2c5.90050d",
        "type": "udp in",
        "z": "a1e29da3.5e856",
        "name": "bluedonkey out",
        "iface": "",
        "port": "3004",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 120,
        "y": 260,
        "wires": [
            [
                "71100067.eba35",
                "4489b26e.a3c52c"
            ]
        ]
    },
    {
        "id": "71100067.eba35",
        "type": "ui_text",
        "z": "a1e29da3.5e856",
        "group": "d1a91399.ff32",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 390,
        "y": 300,
        "wires": []
    },
    {
        "id": "4489b26e.a3c52c",
        "type": "debug",
        "z": "a1e29da3.5e856",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 220,
        "wires": []
    },
    {
        "id": "180010c6.9dd4af",
        "type": "hostip",
        "z": "a1e29da3.5e856",
        "name": "Host IP",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "83af35aa.155288",
                "6a2eaae5.60bd44"
            ]
        ]
    },
    {
        "id": "628bc9b1.355b28",
        "type": "exec",
        "z": "a1e29da3.5e856",
        "command": "/home/debian/bluedonkey/client.py",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 500,
        "y": 460,
        "wires": [
            [
                "9c8641da.63b71"
            ],
            [
                "9c8641da.63b71"
            ],
            []
        ]
    },
    {
        "id": "9c8641da.63b71",
        "type": "debug",
        "z": "a1e29da3.5e856",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 830,
        "y": 460,
        "wires": []
    },
    {
        "id": "c4af34c1.b34fd8",
        "type": "ui_switch",
        "z": "a1e29da3.5e856",
        "name": "",
        "label": "Pause/Unpause",
        "tooltip": "Toggle to pause or unpause the car",
        "group": "be4b9b84.158958",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "unpause",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "pause",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 140,
        "y": 520,
        "wires": [
            [
                "628bc9b1.355b28",
                "292342db.830ace"
            ]
        ]
    },
    {
        "id": "292342db.830ace",
        "type": "ui_text",
        "z": "a1e29da3.5e856",
        "group": "be4b9b84.158958",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}d",
        "layout": "row-spread",
        "x": 410,
        "y": 580,
        "wires": []
    },
    {
        "id": "26c141.077edec",
        "type": "ui_button",
        "z": "a1e29da3.5e856",
        "name": "",
        "group": "be4b9b84.158958",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Load",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "load",
        "payloadType": "str",
        "topic": "",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "628bc9b1.355b28"
            ]
        ]
    },
    {
        "id": "3a3850c.01f1ab",
        "type": "ui_button",
        "z": "a1e29da3.5e856",
        "name": "",
        "group": "be4b9b84.158958",
        "order": 3,
        "width": "0",
        "height": "0",
        "passthru": false,
        "label": "jsonreadout",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "jsonreadout",
        "payloadType": "str",
        "topic": "",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "628bc9b1.355b28"
            ]
        ]
    },
    {
        "id": "7afa99bb.93dda8",
        "type": "udp in",
        "z": "a1e29da3.5e856",
        "name": "bluedonkey out",
        "iface": "",
        "port": "3005",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 600,
        "y": 280,
        "wires": [
            [
                "5c3d869b.49c0b8",
                "41c4face.c62834"
            ]
        ]
    },
    {
        "id": "5c3d869b.49c0b8",
        "type": "ui_text",
        "z": "a1e29da3.5e856",
        "group": "d1a91399.ff32",
        "order": 0,
        "width": "6",
        "height": "5",
        "name": "",
        "label": "Log:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 870,
        "y": 320,
        "wires": []
    },
    {
        "id": "41c4face.c62834",
        "type": "debug",
        "z": "a1e29da3.5e856",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 890,
        "y": 240,
        "wires": []
    },
    {
        "id": "9d995793.4900b8",
        "type": "udp in",
        "z": "a1e29da3.5e856",
        "name": "bluedonkey out",
        "iface": "",
        "port": "3006",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 780,
        "y": 380,
        "wires": [
            [
                "4011caed.41e404",
                "16691798.ad5f58"
            ]
        ]
    },
    {
        "id": "4011caed.41e404",
        "type": "ui_text",
        "z": "a1e29da3.5e856",
        "group": "d1a91399.ff32",
        "order": 0,
        "width": "6",
        "height": "5",
        "name": "",
        "label": "Variables:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 1060,
        "y": 420,
        "wires": []
    },
    {
        "id": "16691798.ad5f58",
        "type": "debug",
        "z": "a1e29da3.5e856",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1070,
        "y": 340,
        "wires": []
    },
    {
        "id": "dca8a51e.80c9e8",
        "type": "ui_group",
        "z": "",
        "name": "Board",
        "tab": "a79d6d91.58072",
        "order": 6,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "a30aeb1b.ead7c8",
        "type": "ui_group",
        "z": "",
        "name": "Camera",
        "tab": "8facd9f3.a18cb8",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "d1a91399.ff32",
        "type": "ui_group",
        "z": "",
        "name": "Console",
        "tab": "8facd9f3.a18cb8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "be4b9b84.158958",
        "type": "ui_group",
        "z": "",
        "name": "Controls",
        "tab": "8facd9f3.a18cb8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a79d6d91.58072",
        "type": "ui_tab",
        "name": "Tab 2",
        "icon": "dashboard",
        "order": 2
    },
    {
        "id": "8facd9f3.a18cb8",
        "type": "ui_tab",
        "z": "",
        "name": "BeagleBone AI - BlueDonkey",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]