dashboard.json
[
    {
        "id": "a1e29da3.5e856",
        "type": "tab",
        "label": "BlueDonkey Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a30aeb1b.ead7c8",
        "type": "ui_group",
        "z": "",
        "name": "Camera",
        "tab": "8facd9f3.a18cb8",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "be4b9b84.158958",
        "type": "ui_group",
        "z": "",
        "name": "Controls",
        "tab": "8facd9f3.a18cb8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d1a91399.ff32",
        "type": "ui_group",
        "z": "",
        "name": "Console",
        "tab": "8facd9f3.a18cb8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a79d6d91.58072",
        "type": "ui_tab",
        "z": "",
        "name": "Editor",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8facd9f3.a18cb8",
        "type": "ui_tab",
        "z": "",
        "name": "Home Page",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c305f5.d1c35a08",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "844e7c5a.d23f3",
        "type": "ui_group",
        "z": "",
        "name": "Current",
        "tab": "a79d6d91.58072",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "74800c24.ed1014",
        "type": "ui_group",
        "z": "",
        "name": "Edit Settings",
        "tab": "a79d6d91.58072",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "335773c9.b51f3c",
        "type": "ui_group",
        "z": "",
        "name": "Settings ",
        "tab": "8facd9f3.a18cb8",
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bbf157e5.7ca138",
        "type": "inject",
        "z": "a1e29da3.5e856",
        "name": "startup",
        "topic": "startup",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 140,
        "y": 100,
        "wires": [
            [
                "180010c6.9dd4af"
            ]
        ]
    },
    {
        "id": "ec92c923.57f488",
        "type": "ui_template",
        "z": "a1e29da3.5e856",
        "group": "a30aeb1b.ead7c8",
        "name": "camera",
        "order": 0,
        "width": "8",
        "height": "8",
        "format": "<img ng-src=\"{{msg.payload}}\" width=\"320\" height=\"240\" alt=\"image\" />\n<!--\n<img src=\"http://192.168.7.2:8090/?action=stream\" width=\"320\" height=\"240\" alt=\"image\" />\n-->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 600,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "83af35aa.155288",
        "type": "function",
        "z": "a1e29da3.5e856",
        "name": "inject url",
        "func": "msg.payload = \"http://\" + msg.payload[0].address + \":8090/?action=stream\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420,
        "y": 120,
        "wires": [
            [
                "ec92c923.57f488",
                "4bc3fb.dae97c04"
            ]
        ]
    },
    {
        "id": "4bc3fb.dae97c04",
        "type": "debug",
        "z": "a1e29da3.5e856",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "6a2eaae5.60bd44",
        "type": "debug",
        "z": "a1e29da3.5e856",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "107ec2c5.90050d",
        "type": "udp in",
        "z": "a1e29da3.5e856",
        "name": "bluedonkey out",
        "iface": "",
        "port": "3004",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 300,
        "y": 200,
        "wires": [
            [
                "71100067.eba35",
                "4489b26e.a3c52c"
            ]
        ]
    },
    {
        "id": "71100067.eba35",
        "type": "ui_text",
        "z": "a1e29da3.5e856",
        "group": "d1a91399.ff32",
        "order": 0,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Status:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 450,
        "y": 220,
        "wires": []
    },
    {
        "id": "4489b26e.a3c52c",
        "type": "debug",
        "z": "a1e29da3.5e856",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "180010c6.9dd4af",
        "type": "hostip",
        "z": "a1e29da3.5e856",
        "name": "Host IP",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "83af35aa.155288",
                "6a2eaae5.60bd44"
            ]
        ]
    },
    {
        "id": "628bc9b1.355b28",
        "type": "exec",
        "z": "a1e29da3.5e856",
        "command": "/home/debian/bluedonkey/client.py",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 600,
        "y": 500,
        "wires": [
            [
                "9c8641da.63b71"
            ],
            [
                "9c8641da.63b71"
            ],
            []
        ]
    },
    {
        "id": "9c8641da.63b71",
        "type": "debug",
        "z": "a1e29da3.5e856",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 830,
        "y": 500,
        "wires": []
    },
    {
        "id": "c4af34c1.b34fd8",
        "type": "ui_switch",
        "z": "a1e29da3.5e856",
        "name": "",
        "label": "Pause/Unpause",
        "tooltip": "Toggle to pause or unpause the car",
        "group": "be4b9b84.158958",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "style": "",
        "onvalue": "unpause",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "pause",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 360,
        "y": 520,
        "wires": [
            [
                "628bc9b1.355b28",
                "292342db.830ace"
            ]
        ]
    },
    {
        "id": "292342db.830ace",
        "type": "ui_text",
        "z": "a1e29da3.5e856",
        "group": "be4b9b84.158958",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}d",
        "layout": "row-spread",
        "x": 510,
        "y": 540,
        "wires": []
    },
    {
        "id": "26c141.077edec",
        "type": "ui_button",
        "z": "a1e29da3.5e856",
        "name": "",
        "group": "be4b9b84.158958",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Load",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "load",
        "payloadType": "str",
        "topic": "",
        "x": 390,
        "y": 480,
        "wires": [
            [
                "628bc9b1.355b28"
            ]
        ]
    },
    {
        "id": "7afa99bb.93dda8",
        "type": "udp in",
        "z": "a1e29da3.5e856",
        "name": "bluedonkey out",
        "iface": "",
        "port": "3005",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 300,
        "y": 280,
        "wires": [
            [
                "5c3d869b.49c0b8",
                "41c4face.c62834"
            ]
        ]
    },
    {
        "id": "5c3d869b.49c0b8",
        "type": "ui_text",
        "z": "a1e29da3.5e856",
        "group": "d1a91399.ff32",
        "order": 0,
        "width": "6",
        "height": "6",
        "name": "",
        "label": "Log:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "x": 450,
        "y": 300,
        "wires": []
    },
    {
        "id": "41c4face.c62834",
        "type": "debug",
        "z": "a1e29da3.5e856",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 260,
        "wires": []
    },
    {
        "id": "9d995793.4900b8",
        "type": "udp in",
        "z": "a1e29da3.5e856",
        "name": "bluedonkey out",
        "iface": "",
        "port": "3006",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 300,
        "y": 360,
        "wires": [
            [
                "16691798.ad5f58",
                "4ef1d15.2699d3"
            ]
        ]
    },
    {
        "id": "16691798.ad5f58",
        "type": "debug",
        "z": "a1e29da3.5e856",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 470,
        "y": 340,
        "wires": []
    },
    {
        "id": "a8b60d9.6fb37f",
        "type": "json",
        "z": "a1e29da3.5e856",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 800,
        "wires": [
            [
                "10c75d3e.353863"
            ]
        ]
    },
    {
        "id": "c38a24ef.818298",
        "type": "debug",
        "z": "a1e29da3.5e856",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 970,
        "y": 800,
        "wires": []
    },
    {
        "id": "402e4b4d.dfb504",
        "type": "ui_form",
        "z": "a1e29da3.5e856",
        "name": "Settings Form",
        "label": "",
        "group": "74800c24.ed1014",
        "order": 1,
        "width": "6",
        "height": "5",
        "options": [
            {
                "label": "Frame Width",
                "value": "FRAME_WIDTH",
                "type": "number",
                "required": false
            },
            {
                "label": "Mixing Rate",
                "value": "MIXING_RATE",
                "type": "number",
                "required": false
            },
            {
                "label": "Throttle Cut Off Angle",
                "value": "THROTTLE_CUT_OFF_ANGLE",
                "type": "number",
                "required": false
            },
            {
                "label": "Throttle Cut Off Rate",
                "value": "THROTTLE_CUT_OFF_RATE",
                "type": "number",
                "required": false
            },
            {
                "label": "Throttle Gain",
                "value": "THROTTLE_GAIN",
                "type": "number",
                "required": false
            },
            {
                "label": "Throttle Offset",
                "value": "THROTTLE_OFFSET",
                "type": "number",
                "required": false
            },
            {
                "label": "Throttle P Gain",
                "value": "THROTTLE_P_GAIN",
                "type": "number",
                "required": false
            },
            {
                "label": "Throttle I Gain",
                "value": "THROTTLE_I_GAIN",
                "type": "number",
                "required": false
            },
            {
                "label": "Throttle I Min",
                "value": "THROTTLE_I_MIN",
                "type": "number",
                "required": false
            },
            {
                "label": "Throttle I Max",
                "value": "THROTTLE_I_MAX",
                "type": "number",
                "required": false
            },
            {
                "label": "Throttle D Gain",
                "value": "THROTTLE_D_GAIN",
                "type": "number",
                "required": false
            },
            {
                "label": "Steering Offset",
                "value": "STEERING_OFFSET",
                "type": "number",
                "required": false
            },
            {
                "label": "Steering P Gain",
                "value": "STEERING_P_GAIN",
                "type": "number",
                "required": false
            },
            {
                "label": "Steering I Gain",
                "value": "STEERING_I_GAIN",
                "type": "number",
                "required": false
            },
            {
                "label": "Steering I Min",
                "value": "STEERING_I_MIN",
                "type": "number",
                "required": false
            },
            {
                "label": "Steering I Max",
                "value": "STEERING_I_MAX",
                "type": "number",
                "required": false
            },
            {
                "label": "Steering D Gain",
                "value": "STEERING_D_GAIN",
                "type": "number",
                "required": false
            },
            {
                "label": "Throttle Servo Min",
                "value": "THROTTLE_SERVO_MIN",
                "type": "number",
                "required": false
            },
            {
                "label": "Throttle Servo Max",
                "value": "THROTTLE_SERVO_MAX",
                "type": "number",
                "required": false
            },
            {
                "label": "Steering Servo Min",
                "value": "STEERING_SERVO_MIN",
                "type": "number",
                "required": false
            },
            {
                "label": "Steering Servo Max",
                "value": "STEERING_SERVO_MAX",
                "type": "number",
                "required": false
            },
            {
                "label": "Color Threshold Min",
                "value": "COLOR_THRESHOLD_MIN",
                "type": "number",
                "required": false
            },
            {
                "label": "Color Threshold Max",
                "value": "COLOR_THRESHOLD_MAX",
                "type": "number",
                "required": false
            },
            {
                "label": "Color Threshold Delta",
                "value": "COLOR_THRESHOLD_DELTA",
                "type": "number",
                "required": false
            },
            {
                "label": "Percent Threshold Min",
                "value": "PERCENT_THRESHOLD_MIN",
                "type": "number",
                "required": false
            },
            {
                "label": "Percent Threshold Max",
                "value": "PERCENT_THRESHOLD_MAX",
                "type": "number",
                "required": false
            }
        ],
        "formValue": {
            "FRAME_WIDTH": "",
            "MIXING_RATE": "",
            "THROTTLE_CUT_OFF_ANGLE": "",
            "THROTTLE_CUT_OFF_RATE": "",
            "THROTTLE_GAIN": "",
            "THROTTLE_OFFSET": "",
            "THROTTLE_P_GAIN": "",
            "THROTTLE_I_GAIN": "",
            "THROTTLE_I_MIN": "",
            "THROTTLE_I_MAX": "",
            "THROTTLE_D_GAIN": "",
            "STEERING_OFFSET": "",
            "STEERING_P_GAIN": "",
            "STEERING_I_GAIN": "",
            "STEERING_I_MIN": "",
            "STEERING_I_MAX": "",
            "STEERING_D_GAIN": "",
            "THROTTLE_SERVO_MIN": "",
            "THROTTLE_SERVO_MAX": "",
            "STEERING_SERVO_MIN": "",
            "STEERING_SERVO_MAX": "",
            "COLOR_THRESHOLD_MIN": "",
            "COLOR_THRESHOLD_MAX": "",
            "COLOR_THRESHOLD_DELTA": "",
            "PERCENT_THRESHOLD_MIN": "",
            "PERCENT_THRESHOLD_MAX": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "",
        "x": 70,
        "y": 820,
        "wires": [
            [
                "10c75d3e.353863",
                "a1145436.d7ff88"
            ]
        ]
    },
    {
        "id": "d2f3ad9e.d2aca",
        "type": "inject",
        "z": "a1e29da3.5e856",
        "name": "startup",
        "topic": "",
        "payload": "pause",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 200,
        "y": 520,
        "wires": [
            [
                "c4af34c1.b34fd8"
            ]
        ]
    },
    {
        "id": "3702c707.48dff8",
        "type": "ui_ui_control",
        "z": "a1e29da3.5e856",
        "name": "",
        "x": 500,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "6bfed34d.0aab4c",
        "type": "ui_button",
        "z": "a1e29da3.5e856",
        "name": "",
        "group": "be4b9b84.158958",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Open Editor",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Editor",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 620,
        "wires": [
            [
                "3702c707.48dff8"
            ]
        ]
    },
    {
        "id": "516e0df.6f2cdf4",
        "type": "ui_table",
        "z": "a1e29da3.5e856",
        "group": "335773c9.b51f3c",
        "name": "Home Settings Table",
        "order": 0,
        "width": "6",
        "height": "15",
        "columns": [
            {
                "field": "Name",
                "title": "Variable",
                "width": "70%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Value",
                "title": "Value",
                "width": "",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 660,
        "y": 360,
        "wires": []
    },
    {
        "id": "9fd65c63.940b8",
        "type": "ui_ui_control",
        "z": "a1e29da3.5e856",
        "name": "",
        "x": 500,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "90221c80.9567d",
        "type": "ui_button",
        "z": "a1e29da3.5e856",
        "name": "",
        "group": "844e7c5a.d23f3",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Return Home",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "Home Page",
        "payloadType": "str",
        "topic": "",
        "x": 350,
        "y": 580,
        "wires": [
            [
                "9fd65c63.940b8"
            ]
        ]
    },
    {
        "id": "4ef1d15.2699d3",
        "type": "json",
        "z": "a1e29da3.5e856",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "516e0df.6f2cdf4",
                "aa7a0588.efb518"
            ]
        ]
    },
    {
        "id": "aa7a0588.efb518",
        "type": "ui_table",
        "z": "a1e29da3.5e856",
        "group": "844e7c5a.d23f3",
        "name": "Editor Settings Table",
        "order": 0,
        "width": "6",
        "height": "15",
        "columns": [
            {
                "field": "Name",
                "title": "Variable",
                "width": "70%",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "Value",
                "title": "Value",
                "width": "",
                "align": "right",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "6aa429af.9d8698",
        "type": "function",
        "z": "a1e29da3.5e856",
        "name": "Replace Null",
        "func": "\n// For each key, if value is null then set to \n// value in node_values.json\nfor (var key in msg.payload[0]) {\n    if ( msg.payload[0][key] === null ){\n        msg.payload[0][key] = msg.payload[1][key];\n    }\n}\n// For each missing key, add it from \n// node_values.json\nfor (var key in msg.payload[1]) {\n    if (!(key in msg.payload[0])) {\n        msg.payload[0][key] = msg.payload[1][key];\n    }\n}\n// Create single output\nmsg.payload = msg.payload[0];\n// Send msg onward\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 810,
        "y": 820,
        "wires": [
            [
                "c38a24ef.818298",
                "2cf9d6d5.50fefa"
            ]
        ]
    },
    {
        "id": "10c75d3e.353863",
        "type": "join",
        "z": "a1e29da3.5e856",
        "name": "",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 670,
        "y": 820,
        "wires": [
            [
                "6aa429af.9d8698"
            ]
        ]
    },
    {
        "id": "fef35dc8.ce7f3",
        "type": "file in",
        "z": "a1e29da3.5e856",
        "name": "node_values.json",
        "filename": "/home/debian/bluedonkey/profiles/node_values.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 390,
        "y": 800,
        "wires": [
            [
                "a8b60d9.6fb37f"
            ]
        ]
    },
    {
        "id": "a1145436.d7ff88",
        "type": "delay",
        "z": "a1e29da3.5e856",
        "name": "",
        "pauseType": "delay",
        "timeout": ".2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 220,
        "y": 800,
        "wires": [
            [
                "fef35dc8.ce7f3"
            ]
        ]
    },
    {
        "id": "cc3d42c2.592",
        "type": "file",
        "z": "a1e29da3.5e856",
        "name": "node_values.json",
        "filename": "/home/debian/bluedonkey/profiles/node_values.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "x": 1110,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "2cf9d6d5.50fefa",
        "type": "json",
        "z": "a1e29da3.5e856",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 950,
        "y": 840,
        "wires": [
            [
                "cc3d42c2.592"
            ]
        ]
    },
    {
        "id": "37a89360.64e59c",
        "type": "ui_button",
        "z": "a1e29da3.5e856",
        "name": "",
        "group": "be4b9b84.158958",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Load values from Node",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "loadnode",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "628bc9b1.355b28"
            ]
        ]
    },
    {
        "id": "688646f1.6fe5d8",
        "type": "ui_dropdown",
        "z": "a1e29da3.5e856",
        "name": "",
        "label": "",
        "tooltip": "",
        "place": "Select option",
        "group": "be4b9b84.158958",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "options": [
            {
                "label": "Node Values",
                "value": "LOADCUSTOM ./profiles/node_values.json",
                "type": "str"
            },
            {
                "label": "Default Values",
                "value": "LOADCUSTOM ./profiles/default_values.json",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 80,
        "y": 660,
        "wires": [
            [
                "628bc9b1.355b28",
                "9c8641da.63b71"
            ]
        ]
    }
]